log/*.log
log/*.pid
*~
db/*.bkp
tmp
test/log
log/test
\#*
.\#*
.DS_Store
.svn
db/deep_test*
*_flymake.*
db/*.sqlite3
public/system
public/p/*
log/*.pid
public/javascripts/all.js
public/stylesheets/all.css
public/images/upload
public/data
*.LCK
.sass-cache
public/stylesheets/*.css
!public/stylesheets/scaffold.css
documents
public/stylesheets/compiled
lib/jexcelapi/build/out
lib/jexcelapi/docs
.bundle
vendor/bundle
